.clouds {
  overflow: hidden;
  max-width: 100%;

  @media screen and ( max-width: 768px ) {
    display: none;
  }
}

.cloud {
  position: absolute;
  height: 75vh;
  bottom: 0;
  max-width: 100vw;
  opacity: 0.8;
}

.cloud:nth-child(1) {
  animation: animate 8s linear infinite;
}
.cloud:nth-child(2) {
  animation: animate 16s linear infinite;
}
.cloud:nth-child(3) {
  animation: animate 24s linear infinite;
}
.cloud:nth-child(4) {
  animation: animate 32s linear infinite;
}
.cloud:nth-child(5) {
  animation: animate 40s linear infinite;
}

.trails-main {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trails-text {
  position: relative;
  width: 100%;
  height: 140px;
  line-height: 110px;
  color: black;
  font-weight: 800;
  letter-spacing: -9px;
  will-change: transform, opacity;
  overflow: hidden;
}

.trails-text > div {
  overflow: hidden;
}

.index-title {
  font-size: 3em;
  text-align: center;
  text-shadow: 1px 1px #ADADAD;
  font-weight: 300;
  color: white;
  line-height: 1;
  letter-spacing: 6px;
  padding: 0.25em;
  text-transform: uppercase;

  &:after {
    content: "";
    width: 15px;
    height: 100%;
    background: hsl(171,100%,29%);  
  }
}

.index-subtitle {
  font-size: 2.5em;
  text-align: center;
  text-shadow: 1px 1px #ADADAD;
  font-weight: 400;
  color: white;
  line-height: 1;
  letter-spacing: 6px;
  padding: 0.25em;
  text-transform: uppercase;

  @media screen and ( max-width: 1024px ) {
    font-size: 2rem;
  }
}
    

.index-citation {
  display: flex;
  font-size: 1.5em;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  width: 100%;
  bottom: 0;
  color: white;

  .citation-wrapper {
    color: #0e0e0e;
    padding: 2em;
    font-style: italic;

    h2 {
      font-size: 1.05em;
    }
    
    p {
      font-size: 1em;
    }
  }
}

.section-presentation {
  background: linear-gradient(0deg, rgba(0,148,126,1) 0%, rgba(250,250,250,1) 100%);  display: flex;

  @media screen and ( min-width: 1024px ) {
    height: 400px;
  }

  .presentation-items-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    min-height: 300px;
    position: relative;
    top: -50px;
    padding: 10px 0;
  }

  .presentation-item {
    display: flex;
    flex: 1 0 33%;
    margin: 10px 0;
    justify-content: center;
    align-items: center;

    @media screen and ( max-width: 1024px ) {
      flex: 1 0 50%;
      padding: 10px 0;
    }

    @media screen and ( max-width: 425px ) {
      flex: 1 0 100%;
    }
  }
  
  .mat-card {
    width: 80%;
    transition: all 300ms;

    .btn-card {
      font-weight: 600;
      border: 1px solid hsl(171,100%,29%);
      color: hsl(171,100%,29%);
      transition: all 200ms;

      .inner-link {
        color: hsl(171,100%,29%);
        text-decoration: none;
      }

      &:hover {
        background: hsl(171,100%,29%);

        .inner-link {
          color: white;
        }
      }
    }

    h2 {
      font-family: Muli;
      color: hsl(171, 100%, 29%);
      font-size: 1.8rem;
      font-weight: 600;
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}

.section-offres {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  background: #216259;
  padding: 65px 0;

  @media screen and ( min-width: 1024px ) {
    padding: 150px 0;
  }

  &:hover {
    .offres-item {
            filter: brightness(0.5) saturate(150%) contrast(190%);
    }
  }

  .offres-titre {
    width: 60%;
    text-align: center;
    margin-bottom: 30px;
    margin-top: -20px;
    color: white;
    text-transform: uppercase;
    text-shadow: 1px 2px #106033;
    font-weight: 600;
    font-size: 3rem;
    border: 2px solid white;
    background: rgba(255,255,255,0.3);
  }

  .offres-item {
    height: 300px;
    display: flex;
    flex: 0 0 40%;
    border-radius: 15px;
    margin: 15px 0;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-size: 110% 110%;
    transition: transform 200ms linear, filter 1s linear, background-size 1.5s linear;

    @media screen and ( max-width: 768px ) {
      flex: 0 0 90%;
    }
    
    &:hover {
      filter: brightness(1) saturate(100%) contrast(100%);
      background-size: 100% 100%;

      .content-card {
        background-color: rgba(250, 250, 250, 0.8);
      }
    }
      
    h2 {
      font-family: Muli;
      color: #00947e;
      font-size: 1.8rem;
      font-weight: 600;
    }

    .content-card {
      display: flex;
      width: 50vh;
      text-align: center;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      background-color: rgba(250, 250, 250, 1);
      height: 150px;
      transition: all 200ms;
      padding: 15px;
    }

    .btn-card {
      top: -20px;
      font-weight: 600;
      background: hsl(171,100%,29%);
      border: 1px solid hsl(171,100%,29%);
      transition: all 200ms;

      .inner-link {
        color: white;
        text-decoration: none;
      }
        
      &:hover {
        background: hsl(171,75%,40%);
        color: white;
      }
    }
  }
}