@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli:wght@300;400;500&display=swap");
// @import "~bulma/sass/utilities/initial-variables"
@-webkit-keyframes wobble-hor-top {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(6deg);
            transform: translateX(-30px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateX(7px) rotate(-3deg);
            transform: translateX(7px) rotate(-3deg);
  }
  45% {
    -webkit-transform: translateX(-7px) rotate(1.8deg);
            transform: translateX(-7px) rotate(1.8deg);
  }
  60% {
    -webkit-transform: translateX(5px) rotate(-1.2deg);
            transform: translateX(5px) rotate(-1.2deg);
  }
  75% {
    -webkit-transform: translateX(-3px) rotate(0.6deg);
            transform: translateX(-3px) rotate(0.6deg);
  }
}
@keyframes wobble-hor-top {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(6deg);
            transform: translateX(-30px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateX(7px) rotate(-3deg);
            transform: translateX(7px) rotate(-3deg);
  }
  45% {
    -webkit-transform: translateX(-7px) rotate(1.8deg);
            transform: translateX(-7px) rotate(1.8deg);
  }
  60% {
    -webkit-transform: translateX(5px) rotate(-1.2deg);
            transform: translateX(5px) rotate(-1.2deg);
  }
  75% {
    -webkit-transform: translateX(-3px) rotate(0.6deg);
            transform: translateX(-3px) rotate(0.6deg);
  }
}
@-webkit-keyframes animate {
  0% {
  transform: translateX(-100vw);
  -webkittransform: translateX(-100vw);
  }
  100% {
  transform: translateX(100vw);
  -webkit-transform: translateX(100vw);
  }
}
@keyframes animate {
  0% {
    transform: translateX(-100vw);
    -webkit-transform: translateX(-100vw);
  }
    
  100% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }
}
@-webkit-keyframes kenburns-bottom-right {
  0% {
  -webkit-transform: scale(1) translate(0, 0);
  transform: scale(1) translate(0, 0);
  -webkit-transform-origin: 84% 84%;
  transform-origin: 84% 84%;
  }

  100% {
  -webkit-transform: scale(1.25) translate(20px, 15px);
  transform: scale(1.25) translate(20px, 15px);
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
  }
}
@keyframes kenburns-bottom-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 84%;
    transform-origin: 84% 84%;
  }

  100% {
    -webkit-transform: scale(1.25) translate(20px, 15px);
    transform: scale(1.25) translate(20px, 15px);
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
  }
}

html,
body {
  height: 100%;

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

body {
  margin: 0;
  font-family: Muli, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

// Config vars
.contact-button {
  cursor: pointer;
  background: hsl(171, 100%, 29%);
  color: white;
  z-index: 50;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.9rem;
  bottom: 5vh;
  right: 5vw;
  height: 5rem;
  width: 5rem;
  border-radius: 2.5rem;
}

.custom-navbar {
  z-index: 100;
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  top: 0;
  flex: 1 0 100%;
  width:100%;
  max-width: 100vw;
  height: 80px;
  transform: none;
  visibility: visible;
  transition: all 200ms ease-in;
  background: rgba(23,23,26,0.85);

  .menu-titre {
    font-size: 3.5rem;
    font-weight: 400;
    color: white;
    position: absolute;
    left: 15px;
    text-shadow: 1px 1px #ADADAD;
    letter-spacing: 6px;
    display: flex;
  }

  .menu-icon {
    color: white;
    font-size: 3.5rem;
    position: absolute;
    right: 15px;
    cursor: pointer;
  }

  .menu-mobile {
    width: 100%;
  }

  .left-links,
  .right-links {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .middle-links {
    width: 10%;
    display: flex;
    justify-content: center
  }

  .navlink-wrapper {
    position: relative;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;

    &::before {
      content: ' ';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background: hsl(171, 100%, 29%);
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      &::before {
        width: 100%;
      }
    }
  }
  
  .navlink {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-family: Muli;
    font-weight: 500;
    transition: all 300ms;
    background: transparent;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;

    &:hover {
      color: hsl(171, 100%, 29%);
    }
  }
  
  .activeLink {
    color: white !important;
    background: hsl(171, 100%, 29%) !important;
    margin: -10px;
    padding: 10px;

    &::before {
      display: none !important;
    }
  }
}

.drawer-inner {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  background: rgba(23,23,26,0.85);

  a {
    text-align: center;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: white;

    &:hover {
      color: hsl(171, 100%, 29%);
    }
  }
}

.hidden-menu {
  transform: translate(0,-100%);
  visibility: hidden;
  transition: all 200ms ease-out;
}

.kenburns-bottom-right {
  -webkit-animation: kenburns-bottom-right 30s ease-in-out infinite alternate both;
  animation: kenburns-bottom-right 30s ease-in-out infinite alternate both;
}

.wobble-hor-top:hover {
	-webkit-animation: wobble-hor-top 0.8s forwards;
          animation: wobble-hor-top 0.8s forwards;
}

.footer {
  width: 100%;
  height: 300px;
  background: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  a {
    color: hsl(171, 100%, 29%)
  }
}

